<nav class="navbar navbar-expand-sm navbar-light myNav">
  <a class="navbar-brand" href="#">Práctica 3</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link active" routerLink="/first-component" routerLinkActive="active"> First Component </a>
      <a class="nav-item nav-link" routerLink="/second-component" routerLinkActive="active">Second Component</a>
      <a class="nav-item nav-link" routerLink="/error" routerLinkActive="active">Ejemplo notFound</a>
      <a class="nav-item nav-link" routerLink="/personas" routerLinkActive="active">Personas</a>
    </div>
  </div>
</nav>
<!-- The routed views render in the <router-outlet>-->
<router-outlet></router-outlet>